.container {
  width: 100%;
  background-color: #22222b;
  height: 160px;
  border-radius: 0 0 44px 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  color: #edae61;
  font-size: 22px;
  font-weight: 800;
}
.name {
  color: #a2abbd;
  font-size: 44px;
  font-weight: 500;
}
